<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="Source" value="C:\Users\mrSimple\Documents\NetBeansProjects\ClientTCP"/>
        <add key="GitBatDirectory" value=""/>
        <add key="NotConfirmInstallTortoiseGit" value="false"/>
    </appSettings>
</configuration>